{
  "plugins": [
    [
      "module-resolver",
      {
        "root": ["."],
        "alias": {
          "UI": "./UI",
          "server": "./server"
        }
      }
    ],
    ["react-loadable/babel"]
  ],
  "env": {
    "server": {
      "presets": [["@babel/preset-env", { "targets": { "node": "current" } }]],
      "plugins": [
        ["react-loadable/babel"],
        ["@babel/plugin-syntax-dynamic-import"],
        ["babel-plugin-dynamic-import-node"]
      ]
    }
  }
}
